{% extends "common/layout.html" %}
{% block head %}
<link rel="stylesheet/less" type="text/css" href="/home/index.less">
{% endblock %}
{% block body %}
<div id="app">
    <div class="zh-header">
        <h3>Code List</h3>
        <p class="title" v-show="lists.length">趁着阳光正好, 💪😆😆😆!</p>
        <div class="form-action clearfix">
            <div class="edit-input">
                <input width="200px" autofocus class="zh-input" type="text" v-model="content" @keyup.enter="onKeyUp">
            </div>
        </div>
    </div>

    <div class="zh-center">
        <div class="content">
            <ul class="code-item clearfix" v-if="lists.length">
                <li v-for="l in lists">
                    <a :href="l.url">
                        <span>${ l.title }</span>
                    </a>
                </li>
            </ul>
            <div class="zh-no-data" v-else>
                最近心情不好☹️☹️☹️☹️
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<script>
    var vm = new Vue({
        delimiters: ['${', '}'],
        el: '#app',
        data: {
            lists: [{
                title: 'todo list',
                url: 'todo'
            }, {
                title: 'upload file',
                url: 'file'
            }],
            content: ''
        },

        created() {
        },

        methods: {
            onKeyUp () {
                let text = this.content
                if (!text) {
                    return false
                }
            }
        }
    })
</script>
{% endblock %}
